:root{

	width: 100vw;
	height: 100vh;
}

.container{
	width: 100%;
	height: 100%;
}

.heading{
	z-index:10;
}
.heading > h1{

	color:white;
	z-index:10;
	text-align: center;
	font-family: 'Cutive';
	font-size: 50px;
}
.background,.heading{

	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	
}

.heading{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	flex-direction: column;
}
.buttons{

	display: flex;
	flex-direction: row;
	width: 50%;
	justify-content: center;




}
.buttons > button{

	
	padding: 20px;
	border:none;
	border-radius: 30px;
	font-family: 'Crete Round';
	font-size: 25px;
	margin-right: 10px;

	color: #fa8e00;
	background-color: #0276f2;
	

}
#finisher{

	background-color: #e8f054;
	
	
	
	
}
.background{
	z-index: 0;
}
